*.class
*.log
*.classpath
*.project
.metadata/
*/target/
*/.settings/
/.settings/
*/bin
.DS_Store
*/.DS_Store
*/**/.DS_Store
*~

# Package Files #
*.jar
*.war
*.ear
/target/m2e-wtp/web-resources/META-INF/maven/Lutarony/Lutarony/pom.properties
/target
