@CHARSET "US-ASCII";

body {
	padding-top: 0;
	font-size: 12px;
	color: #777777;
	font-family: 'Open Sans', sans-serif;
}

a:hover,a:focus {
	color: #999;
	text-decoration: none;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
}

/* CSSKIT */
aside.skin-6 {
	background: #495B6C;
}

aside.skin-6 .size-toggle {
	border-bottom-color: #415160;
	box-shadow: 0 1px 0 #506274;
	-moz-box-shadow: 0 1px 0 #506274;
	-webkit-box-shadow: 0 1px 0 #506274;
}

aside.skin-6 .size-toggle .btn {
	color: #BECFE0;
}

aside.skin-6 .size-toggle .btn:hover,aside.skin-6 .size-toggle .btn:focus
	{
	color: #fff;
}

aside.skin-6 .size-toggle .btn .icon-bar {
	background-color: #BECFE0;
}

aside.skin-6 .sidebar-inner {
	border-right-color: #415160;
}

aside.skin-6 .sidebar-inner .user-block {
	border-bottom-color: #415160;
	box-shadow: 0 1px 0 #506274;
	-moz-box-shadow: 0 1px 0 #506274;
	-webkit-box-shadow: 0 1px 0 #506274;
}

aside.skin-6 .sidebar-inner .user-block .detail {
	color: #BECFE0;
}

aside.skin-6 .sidebar-inner .user-block ul li a {
	color: #BECFE0;
}

aside.skin-6 .sidebar-inner .user-block ul li a:hover,aside.skin-6 .sidebar-inner .user-block ul li a:focus
	{
	color: #fff;
}

aside.skin-6 .sidebar-inner .search-block {
	border-bottom-color: #415160;
	box-shadow: 0 1px 0 #506274;
	-moz-box-shadow: 0 1px 0 #506274;
	-webkit-box-shadow: 0 1px 0 #506274;
}

aside.skin-6 .sidebar-inner .search-block input[type="text"],aside.skin-6 .sidebar-inner .search-block .btn
	{
	background: #fff;
	color: #BECFE0;
	border-color: #dfdfdf;
	height: 29px;
}

aside.skin-6 .main-menu>ul>li {
	border-top-color: #506274;
	border-bottom-color: #415160;
}

aside.skin-6 .main-menu>ul>li.active,aside.skin-6 .main-menu>ul>li.display
	{
	border-top-color: #415160;
}

aside.skin-6 .main-menu>ul>li.active>a,aside.skin-6 .main-menu>ul>li.display>a
	{
	background: #415160;
	color: #fff;
}

aside.skin-6 .main-menu>ul>li>a {
	color: #BECFE0;
}

aside.skin-6 .main-menu>ul>li>a:hover,aside.skin-6 .main-menu>ul>li>a:focus
	{
	background: #394754;
	color: #fff;
}

aside.skin-6 .main-menu>ul>li>a .menu-hover {
	background: #feffd8;
	box-shadow: 0 0 10px 0px #ffffff;
	-moz-box-shadow: 0 0 10px 0px #ffffff;
	-webkit-box-shadow: 0 0 10px 0px #ffffff;
}

aside.skin-6 .main-menu>ul>li>.submenu  li  a {
	background-color: #415160;
}

aside.skin-6 .main-menu>ul>li>.submenu  li a .submenu-label {
	color: #BECFE0;
}

aside.skin-6 .main-menu>ul>li>.submenu  li a:hover .submenu-label,aside.skin-6 .main-menu>ul>li>.submenu  li a:focus .submenu-label
	{
	color: #fff;
}

aside.skin-6 .main-menu>ul>li>.submenu  li.active a {
	background: #2E3943;
}

aside.skin-6 .main-menu>ul>li>.submenu  li.active a .submenu-label {
	color: #fff;
}

@media ( max-width : 767px) {
	aside.skin-6 .main-menu>ul>li>.dropdown-menu li a {
		color: #BECFE0;
	}
	aside.skin-6 .main-menu>ul>li>.dropdown-menu li a:hover,aside.skin-6 .main-menu>ul>li>.dropdown-menu li a:focus
		{
		color: #fff;
		background: #415160;
	}
}

#top-nav.skin-6 {
	background: #2B333C;
	border-bottom-color: #415160;
}

#top-nav.skin-6 .navbar-toggle .icon-bar {
	background-color: #fff;
}

#top-nav.skin-6 .brand {
	color: #BECFE0;
	background: #2B333C;
}

#top-nav.skin-6 .brand:hover,#top-nav.skin-6 .brand:focus {
	color: #fff;
}

#top-nav.skin-6 .page-title {
	color: #BECFE0;
}

#top-nav.skin-6 .nav-notification>li.open {
	background: #415160;
}

#top-nav.skin-6 .nav-notification>li:hover {
	background: #415160;
}

#top-nav.skin-6 .nav-notification>li>a {
	color: #BECFE0;
}

#top-nav.skin-6 .nav-notification>li>a:hover,#top-nav.skin-6 .nav-notification>li>a:focus
	{
	color: #fff;
}

.lutarony-navbar {
	height: 70px;
	background-color: #000;
}

.lutarony-sidebar {
	color: white;
	background-color: #444444;
	padding-left: 50px;
	height: 350px;
}

.lutarony-sidebar a {
	color: white;
}

.lutarony-sidebar a:HOVER {
	color: #444444;
}

#wrapper {
	transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
	margin-left: -250px;
	left: 250px;
	width: 250px;
	background: #000;
	position: fixed;
	height: 100%;
	overflow-y: auto;
	z-index: 1000;
	transition: all 0.4s ease 0s;
}

#page-content-wrapper {
	width: 100%;
	padding-top: 55px;
}

.sidebar-nav {
	position: absolute;
	top: 0;
	width: 250px;
	list-style: none;
	margin: 0;
	padding: 0;
	padding-top: 50px;
}

.sidebar-nav ul {
	position: absolute;
	top: 0;
	width: 250px;
	list-style: none;
	margin: 0;
	padding: 0;
	padding-top: 50px;
}

.sidebar-nav li {
	line-height: 40px;
	text-indent: 20px;
}

.sidebar-nav li a {
	color: #999999;
	display: block;
	text-decoration: none;
}

.sidebar-nav li a:hover {
	color: #fff;
	background: rgba(255, 255, 255, 0.2);
	text-decoration: none;
}

.sidebar-nav li a:active,.sidebar-nav li a:focus {
	text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
	height: 65px;
	line-height: 60px;
	font-size: 18px;
}

.sidebar-nav>.sidebar-brand a {
	color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
	color: #fff;
	background: none;
}

.content-header {
	height: 65px;
	line-height: 65px;
}

.content-header h1 {
	margin: 0;
	margin-left: 20px;
	line-height: 65px;
	display: inline-block;
}

#menu-toggle {
	display: none;
}

.inset {
	padding: 20px;
}

@media ( max-width :767px) {
	#wrapper {
		padding-left: 0;
	}
	#sidebar-wrapper {
		left: 0;
	}
	#wrapper.active {
		position: relative;
		left: 250px;
	}
	#wrapper.active #sidebar-wrapper {
		left: 250px;
		width: 250px;
		transition: all 0.4s ease 0s;
	}
	#menu-toggle {
		display: inline-block;
	}
	.inset {
		padding: 15px;
	}
}

#main-container {
	position: relative;
	min-height: 800px;
	padding-top: 45px;
	margin-left: 194px;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}

@media ( max-width : 480px) {
	#main-container {
		min-width: 310px;
	}
}

@media ( min-width : 481px) and (max-width: 550px) {
	#main-container {
		min-width: 471px;
	}
}

@media ( min-width : 551px) and (max-width: 600px) {
	#main-container {
		min-width: 541px;
	}
}

@media ( min-width : 601px) and (max-width: 670px) {
	#main-container {
		min-width: 591px;
	}
}

@media ( max-width : 767px) {
	#main-container {
		left: 0;
		margin-left: 0;
	}
}

@media ( min-width : 768px) and (max-width: 868px) {
	#main-container {
		margin-left: 90px;
		transition: margin-left 0.5s ease;
		-webkit-transition: margin-left 0.5s ease;
		-moz-transition: margin-left 0.5s ease;
		-ms-transition: margin-left 0.5s ease;
		-o-transition: margin-left 0.5s ease;
	}
}

#main-container.fade-out {
	opacity: 0;
	transform: translateX(-50px);
	-webkit-transform: translateX(-50px);
	-moz-transform: translateX(-50px);
	-ms-transform: translateX(-50px);
	-o-transform: translateX(-50px);
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
}

#main-container.fade-out {
	opacity: 0;
	transform: translateX(-50px);
	-webkit-transform: translateX(-50px);
	-moz-transform: translateX(-50px);
	-ms-transform: translateX(-50px);
	-o-transform: translateX(-50px);
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
}

#wrapper.sidebar-display #main-container,#wrapper.sidebar-display footer
	{
	left: 194px;
	right: -194px;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}

.main-header {
	padding: 20px;
}

.main-header .page-title {
	float: left;
	color: #394754;
}

.main-header .page-title span {
	display: block;
	color: #999;
	text-shadow: 0 1px 0 #fff;
	font-size: 12px;
	margin-top: 5px;
}

.no-margin {
	margin: 0 !important;
}

.shortcut-wrapper {
	text-align: center;
}

.grey-container {
	background: #eee;
	padding: 15px;
	border: 1px solid #dfdfdf;
	border-width: 1px 0 1px 0;
}

.shortcut-link {
	display: inline-block;
	color: #ccc;
	margin-right: 20px;
	text-shadow: 0 1px 0 #fff;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
}

.shortcut-link .shortcut-icon {
	position: relative;
	font-size: 20px;
}

.shortcut-link .text {
	display: inline-block;
	margin-left: 10px;
	margin-top: -5px;
	color: #626262;
	font-weight: 600;
}

a {
	color: #555;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
}

.padding-md {
	padding: 5px !important;
}

.bg-danger {
	background-color: #fe402b !important;
	color: #fff !important;
}

.panel-stat3 {
	position: relative;
	overflow: hidden;
	padding: 20px;
	margin-bottom: 20px;
	color: #fff;
	cursor: pointer;
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
}

.m-top-none {
	margin-top: 0;
}

.m-left-xs {
	margin-left: 5px;
}

.panel-stat3 .stat-icon {
	position: absolute;
	top: 20px;
	right: 10px;
	font-size: 30px;
	opacity: 0.3;
}

.panel-stat3 .refresh-button {
	position: absolute;
	top: 10px;
	right: 10px;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	color: rgba(0, 0, 0, 0.3);
}

.loading-overlay {
	position: absolute;
	display: none;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.4);
	text-align: center;
}

.loading-overlay .loading-icon {
	position: absolute;
	top: 45%;
	color: #fff;
	animation: spin 0.8s infinite linear;
	-webkit-animation: spin 0.8s infinite linear;
	-moz-animation: spin 0.8s infinite linear;
	-ms-animation: spin 0.8s infinite linear;
	-o-animation: spin 0.8s infinite linear;
}

/*Tableau*/
.panel.panel-default {
	border-color: #f1f5fc;
}

.panel {
	position: relative;
	background: #ffffff;
}

.panel.panel-default .panel-heading {
	background: #fff;
	color: #1A5FA1;
	border-color: #f1f5fc;
}

.label-info,.badge-info {
	background-color: #4dd4fd;
	color: #fff;
}

.label,.badge {
	background-color: #F1F5FC;
	color: #777;
}

.table thead>tr {
	border: 1px solid #eee;
}

.table tbody>tr {
	border: 1px solid #eee;
}

.progress {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	height: 12px;
}

.btn {
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
}

.btn.btn-primary {
	background: #495B6C;
	border: 1px solid #393847;
}

.btn.btn-cancel {
	background: #DADADA;
	border: 1px solid #ACACAC;
}

.btn.btn-primary.active,.btn.btn-primary:active,.btn.btn-primary:focus,.btn.btn-primary:hover
	{
	background: #2B333C;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
}

.btn.btn-cancel.active,.btn.btn-cancel:active,.btn.btn-cancel:focus,.btn.btn-cancel:hover
	{
	background: #ACACAC;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
}

/*Weighing*/
.tab-bar a.category-title {
	text-transform: uppercase;
}

.tab-bar.grey-tab {
	background: #e6e6e6;
}

.tab-bar {
	list-style: none;
	margin: 0;
}

ul {
	padding: 0;
}

.panel-tab {
	background: #dfdfdf;
}

.panel-tab:after,.panel-tab:before {
	display: table;
	line-height: 0;
	content: "";
}

.panel-tab:after {
	clear: both;
}

.tab-bar {
	list-style: none;
	margin: 0;
}

.tab-bar>li {
	display: inline-block;
	float: left;
	margin-bottom: -1px;
}

.tab-bar>li.active:first-child a {
	border-left: 0;
}

.tab-bar>li.active a {
	background: #fff;
	color: #777;
}

.tab-bar>li a {
	display: block;
	padding: 10px;
	color: #777;
	height: 50px;
	width: 130px;
	padding-top: 15px;
	text-align: center;
	text-shadow: 0 1px #fff;
	transition: color .2s ease;
	-webkit-transition: color .2s ease;
	-moz-transition: color .2s ease;
	-ms-transition: color .2s ease;
	-o-transition: color .2s ease;
}

.tab-bar>li i {
	margin-right: 5px;
}

.weighing-title {
	color: #394754
}

td {
	height: 50px;
	padding-top: 15px !important;
}

/* MESSAGES ERROR/SUCCESS DATAS CREATION */
.alert-msg {
	color: #8B6420;
	background: #ffe5ab;
	border: 1px solid #ffc545;
	padding: 10px;
}

.alert-msg.alert-msg-success {
	color: #1b601c;
	background: #cfe9b7;
	border: 1px solid #9ad268;
}

.alert-msg.alert-msg-danger {
	color: #691715;
	background: #fe9b91;
	border: 1px solid #fe402b;
}

/********************  SUB MENU **********************/
.portlet .portlet-body {
	padding: 15px;
	background: #fff;
}

.nav-tabs,.nav-pills {
	margin-bottom: 10px;
}

a.list-group-item.active,a.list-group-item.active:hover,a.list-group-item.active:focus,.nav-pills>li.active>a,.nav-pills>li.active>a:hover,.nav-pills>li.active>a:focus,.pagination>.active>a,.pagination>.active>span,.pagination>.active>a:hover,.pagination>.active>span:hover,.pagination>.active>a:focus,.pagination>.active>span:focus
	{
	border-color: #495B6C;
	background-color: #495B6C;
}